<div class="page--newsletter">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" name="newsletterForm" novalidate>
                <div class="form-group" ng-class="{'has-warning': newsletterForm.firstname.$error.required && newsletterForm.firstname.$touched}">
                    <label for="firstname" class="control-label">First name</label>
                    <span class="form-helper-text" ng-if="newsletterForm.firstname.$error.required && newsletterForm.firstname.$touched">Required field</span>
                    <input type="text" class="form-control" name="firstname" id="firstname" ng-model="newsletterCtrl.newsletter.user.firstname" placeholder="Jane" required>
                </div>
                <div class="form-group" ng-class="{'has-warning': newsletterForm.lastname.$error.required && newsletterForm.lastname.$touched}">
                    <label for="lastname" class="control-label">Last name</label>
                    <span class="form-helper-text" ng-if="newsletterForm.lastname.$error.required && newsletterForm.lastname.$touched">Required field</span>
                    <input type="text" class="form-control" name="lastname" id="lastname" ng-model="newsletterCtrl.newsletter.user.lastname" placeholder="Doe" required>
                </div>
                <div class="form-group" ng-class="{'has-warning': (newsletterForm.email.$invalid || newsletterForm.email.$error.required) && newsletterForm.email.$touched}">
                    <label for="email" class="control-label">Email</label>
                    <span class="form-helper-text">
                        <span ng-if="newsletterForm.email.$invalid && newsletterForm.email.$touched">This is not a valid email</span>
                        <span ng-if="newsletterForm.email.$error.required && newsletterForm.email.$touched">Required field</span>
                    </span>
                    <input type="email" class="form-control" name="email" id="email" ng-model="newsletterCtrl.newsletter.user.email" placeholder="Email" required>
                </div>
                <div class="form-group" ng-class="{'has-warning': (newsletterForm.phonenumber.$invalid || newsletterForm.phonenumber.$error.required) && newsletterForm.phonenumber.$touched}">
                    <label for="phonenumber" class="control-label">Phone number</label>
                    <span class="form-helper-text">
                        <span ng-if="newsletterForm.phonenumber.$invalid && newsletterForm.phonenumber.$touched">This is not a valid phone number</span>
                        <span ng-if="newsletterForm.phonenumber.$error.required && newsletterForm.phonenumber.$touched">Required field</span>
                    </span>
                    <input type="number" class="form-control" name="phonenumber" id="phonenumber" ng-model="newsletterCtrl.newsletter.user.phonenumber" placeholder="Phone number" required>
                </div>
                <div class="form-group" ng-class="{'has-warning': newsletterForm.menunumber.$error.required && newsletterForm.menunumber.$touched}">
                    <label for="menunumber" class="control-label">Menu number</label>
                    <span class="form-helper-text">
                        <span ng-if="newsletterForm.menunumber.$error.required && newsletterForm.menunumber.$touched">Required field</span>
                        <span ng-if="newsletterForm.$submitted && newsletterCtrl.itemFound === false">No such menu number exists</span>
                    </span>
                    <input type="text" class="form-control" name="menunumber" id="menunumber" ng-model="newsletterCtrl.newsletter.menunumber" placeholder="Doe" required>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <button type="submit" ng-click="newsletterCtrl.submit()" ng-disabled="newsletterForm.$invalid" class="btn btn-default">Sign in</button>
                        </div>
                        <div class="col-md-9">
                            <p class="text-right" ng-if="newsletterForm.$submitted && newsletterCtrl.itemFound && newsletterForm.$valid">Your information has been saved</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>